---
#
---
html {
	font-size: 10px;
}

body {
	margin: 0;
	font-size: 1.4rem;
	line-height: 2.0rem;
	padding-top: 7.0rem;
	background-color: #ededed;
}

* {
	box-sizing: border-box;
}


ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
		
.m-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 6.0rem;
	background-color: #fff;
	box-shadow: 0 0.1rem 0.2rem rgba(50, 50, 50, 0.3);

	.logo {
		float: left;
		height: 5.0rem;
		min-width: 8.0rem;
		line-height: 5.0rem;
		font-size: 2.8rem;
		cursor: pointer;
		margin: 0.4rem 0 0 9.0rem;
	}

	.menu {
		float: left;
		margin: 1.4rem 5.0rem;

		li {
			float: left;
			height: 3.0rem;
			line-height: 2.8rem;
			font-size: 1.6rem;
			margin: 0 1.5rem;
			cursor: pointer;

			&.selected {
				border-bottom: 0.2rem solid #009966;
			}

			a {
				color: #333;
				text-decoration: none;
			}
		}
	}

	.search {
		float: left;
		height: 4.0rem;
		width: 45.0rem;
		font-size: 1.3rem;
		outline: none;
		padding: 0.5rem 1.0rem;
		margin: 1.0rem 0 0 5.0rem;
		border-radius: 0.4rem;
		border: 0.1rem solid #ececec;
		box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, .1);
	}
}

.m-content {
	width: 123.0rem;
	margin: 0 auto;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 0.1rem;
		clear: both;
	}
}

.m-content .m-posts {
	min-height: 45.0rem;

	.post-item {
		width: 30.0rem;
		padding: 1.0rem;
		background-color: #fff;
		display: none;
		box-shadow: 0 0 0.4rem rgba(0, 0, 0, .1);

		&:nth-child(4n+1) {
			margin-left: 0rem;
		}

		h3 {
			margin: 0;
			font-size: 1.8rem;
			line-height: 2.0rem;
			padding: 1.0rem 0;

			a {
				color: #333;
				text-decoration: none;
			}
		}

		img {
			width: 100%;
			height: 12.0rem;
			overflow: hidden;
		}
	}
}

.m-content .m-sidebar {
	display: none;
	float: right;
	width: 28.0rem;
	height: 50.0rem;
	background-color: #fff;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, .1);
}

.m-footer {
	height: 20.0rem;
	background-color: #333;
	padding: 2.0rem;
	color: #e5e5e5;

	.contacts {
		width: 30.0rem;
		float: right;
		text-align: left;
		
		h3 {
			margin: 0;
			font-size: 1.4rem;
			padding: 0.5rem 0 1.0rem 0;
		}

		li {
			font-size: 1.2rem;
			height: 2.4rem;
			line-height: 2.4rem;
		}
	}
}
