---
layout: home
---

<header class="m-header">
	<div class="logo">梅志涛的博客</div>
	<ul class="menu">
		<li class="selected"><a href="#">首页</a></li>
		<li><a href="#">关于我</a></li>
		<li><a href="#">其它</a></li>
	</ul>
	<input type="text" class="search" placeholder="搜索你想要的" />
</header>

<section class="m-content">
	<article class="m-posts">
		{% for post in site.posts %}
		<section class="post-item pin">
			<h3><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h3>

			{% if post.poster %}
			<img src="{{ site.baseurl }}{{ post.poster }}" onclick="javascript:window.open('{{ post.url }}');"/>
			{% endif %}

			<p>{{ post.experpt }}</p>

			<div class="post-attrs">
				<span class="author">{{ post.author }}</span>
				<span class="views">456</span>
				<span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
			</div>
		</section>
		{% endfor %}
	</article>

	<aside class="m-sidebar">
	</aside>

</section>

<footer class="m-footer">
	<div class="contacts">
		<h3>联系我</h3>
		<ul>
			<li>QQ号码：暂无</li>
			<li>微信号码：暂无</li>
			<li>个人主页：暂无</li>
		</ul>
	</div>
</footer>
