/**
 * 页面顶部HEADER
 */
.m-header {
	height: $header-height;
	padding: $content-padding;
	border-bottom: 1px solid $border-color;

	.logo {
		font-size: 24px;
	}
}

/**
 * 页面内容区域
 */
.m-content {
	margin: 0 auto;
	max-width: $content-width;
	padding: $content-padding;
}
